.top {
  height: 24px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;

  .hoth4 {
    font-size: 12px;
    color: #333;
    font-weight: 700;
  }
}

.hotanchor{
  width: 100%;
  margin-bottom: 10px;
  height: 40px; 
  display: flex;

  .pic{
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .txt{
    line-height: 20px;
    margin-bottom: 0;
    font-size: 12px;
    /* 允许单词内换行 */
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      /* 开启盒子的弹性布局 */
      display: -webkit-box;
      /* 控制第几行出现省略号 */
      -webkit-line-clamp: 1;
      /* 设置子元素从上向下垂直排列 */
      -webkit-box-orient: vertical;
  }
}