.listonebox{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;

  .left{
    width: 424px;
    height: 642px;
  }
  .right{
    width: 424px;
    height: 642px;
  }

  :global{
    .title_catagory{
      margin-bottom: 0 !important;
    }
  }

  ul{
    width: 424px;
    height: 602px;
    border: 1px solid #ccc;
    border-top: none;

    li{
      width: 100%;
      height: 60px;
      padding: 10px 20px;
      display: flex;

      &:nth-child(2n){
        background-color: #f7f7f7;
      }

      &:hover{
        background-color: #eeeeee;
      }

      img{
        width: 40px;
        height: 40px;
        margin-right: 10px;
        
        &:hover{
          cursor: pointer;
        }
      }
      h4{
        height: 20px;
        width: 254px;
        margin: 0;
        line-height: 20px;

        span{
          &:hover{
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
      p{
        height: 20px;
        width: 254px;
        margin: 0;
        color: #999;
        line-height: 20px;

        span{
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }

        
      }
      .borderbox{
        margin: 12px 0;
        height: 18px;
        margin-left: 10px;
        border: #999 solid 1px;
        text-align: center;
        padding: 0 6px;
        font-size: 12px;
        color: #999;

        &:hover{
          color: #666;
          cursor: pointer;
        }
      }

      .num{
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 14px;
      }
    }
  }
}