.login {
  height: 125px;
  width: 100%;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;

  .txt {
    display: block;
    width: 100%;
    height: 76px;
    padding: 16px 23px;
    line-height: 22px;
    font-size: 12px;
    margin: 0;
  }

  .link {
    display: inline-block;
    width: 100px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    margin-left: 75px;
    background-color: #c70b12;
    border-radius: 5px;
    box-shadow: 0 2px 5px #8d8d8d;
    color: white;
    font-size: 12px;

    &:hover {
      background-color: #eb2931;
    }
  }
}

