.threeicon {

  :global {

    .anticon-block,
    .anticon-folder-add,
    .anticon-rotate-right {
      font-size: 22px !important;
      color: #999;
      margin: 14px 10px 14px 0;

      &:hover {
        color: #ccc;
        cursor: pointer;
      }
    }
  }
}